*{
    background-color: lightgray;
}
h1{
    font-family: 'Orbitron', sans-serif;
}
#grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell {
    border: 1px solid black;
    min-width: 55px;
    min-height: 55px;
    display: inline-block;
  }
#addButton{
    border-radius: 4px;   
    background-color: rgb(210, 210, 7); 
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}
#resetButton{
    color: white;
    border-radius: 4px;   
    background-color: rgb(215, 65, 1); 
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}
.paintedCell{
    border: 1px solid gray;
    min-width: 55px;
    min-height: 55px;
    display: inline-block;
    background-color: red;
}



.gridRow{
    margin: 0;
    padding: 0px;
    display:flex
    
}