*{
    /* margin: 0px; */
    background-color: lightgray;
}

#grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell {
    border: 1px solid black;
    min-width: 55px;
    min-height: 55px;
    display: inline-block;
  }

.paintedCell{
    border: 1px solid gray;
    min-width: 50px;
    min-height: 50px;
    display: inline-block;
    color: red;
}

.gridRow{
    margin: 0;
    padding: 0px;
}