*{
    background-color: lightgray;
}
h1{
    font-family: 'Orbitron', sans-serif;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #ffa600,
               -36px 36px #ff5722,
               -40px 40px #000000;
    margin-bottom: 50px;
}
#grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black
}

.cell {
    border: 1px solid black;
    min-width: 55px;
    min-height: 55px;
    display: inline-block;
  }
#addButton{
    border-radius: 4px;   
    background-color: rgb(210, 210, 7); 
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}
#resetButton{
    color: white;
    border-radius: 4px;   
    background-color: rgb(215, 65, 1); 
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}
.paintedCell{
    border: 1px solid red;
    min-width: 55px;
    min-height: 55px;
    display: inline-block;
    background-color: red;
}



.gridRow{
    margin: 0;
    padding: 0px;
    display:flex
    
}